.scanPayment {
  h2 {
    font-size: 48px !important;
    letter-spacing: -1px;
    font-weight: 700;
  }
  .image {
    img {
      width: 80%;
      height: auto;
    }
  }
}
@media (max-width: 600px) {
  .scanPayment h2 {
    font-size: 32px !important;
  }
}
