.shadow-card {
  transition: box-shadow 0.3s ease;
  .wrapper-title-card {
    @media (max-width: 700px) {
      margin-top: 20px;
    }
  }
  .unit-text {
    margin: 0 !important;
    color: gray !important;
  }
  .amount-text {
    font-weight: 700 !important;
    line-height: 1.2;
    font-size: 24px !important;
  }
  .img-shadow {
    width: 25px;
    height: 25px;
  }
  .number {
    width: fit-content;
  }
  .number.negative {
    background-color: #d33535;
  }
  .number.positive {
    background-color: #58bd7d;
  }
}

.shadow-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.shadow-card.active {
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
}
