.customer {
  h2 {
    font-size: 48px !important;
    letter-spacing: -1px;
    font-weight: 700;
  }
  .slick-dots.slick-dots-bottom li {
    background-color: gray;
    height: 11px;
    width: 11px;
    border-radius: 50%;
  }
  :where(.css-dev-only-do-not-override-apn68).ant-carousel
    .slick-dots
    li.slick-active
    button {
    background-color: transparent;
  }
  .slick-dots.slick-dots-bottom .slick-active {
    background-color: blue;
  }
  .image {
    img {
      width: 80%;
      height: auto;
    }
  }
  .text-gray {
    color: gray;
  }
  .title-feedback {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.33;
  }
  .feedback {
    padding: 10px 40px;
    position: relative;
  }
  .feedback::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    z-index: 100;
    background-color: #3772ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
@media (max-width: 600px) {
  .scanPayment h2 {
    font-size: 32px !important;
  }
}
