.transactions {
  .slick-dots.slick-dots-bottom li {
    background-color: gray;
    height: 11px;
    width: 11px;
    border-radius: 50%;
  }
  :where(.css-dev-only-do-not-override-apn68).ant-carousel
    .slick-dots
    li.slick-active
    button {
    background-color: transparent;
  }
  .slick-dots.slick-dots-bottom .slick-active {
    background-color: blue;
  }
  h2 {
    font-size: 48px !important;
    letter-spacing: -1px;
    font-weight: 700;
  }
  @media (max-width: 600px) {
    h2 {
      font-size: 32px !important;
    }
  }
}
