* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: "system-ui, -apple-system, " Segoe UI ", Roboto, " Helvetica Neue
    ", Arial, " Noto Sans ", " Liberation Sans ", sans-serif, " Apple Color
    Emoji ", " Segoe UI Emoji ", " Segoe UI Symbol ", " Noto Color Emoji "";
}
.container-layout {
  height: 100vh;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}
