.instruction {
  .title {
    font-size: 40px;
    font-weight: 700;
  }
  .text-gray {
    text-align: center;
    color: gray;
    font-size: 20px;
  }
  .step-label {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    &:hover {
      color: #0d6efd;
    }
  }
  .fs16 {
    font-size: 16px;
  }
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    .img-animation {
      transition: 0.5s all ease-in-out;
    }
    &:hover {
      .img-animation {
        transform: rotateY(-360deg);
      }
    }
  }
  .lastStep {
    width: 120px;
  }
  @media (max-width: 1200px) {
    .img-connect {
      display: none;
      height: fit-content;
    }
  }
  @media (max-width: 600px) {
    h2 {
      font-size: 32px !important;
    }
  }
}
